## Visual Studio
.vs/
*.user
*.suo

## Logs
*.log

## NuGet
*.nupkg
packages/

## Env Files
.env
*.env

## Build Results (bin/ and obj/) — ALLOWED


!bin/
!obj/



## VS Code
.vscode/

## Test Results
TestResults/
